@using Weavy.Areas.CustomPages.Helpers
@model Weavy.Core.Models.Space
@{
    Title = Model.Name;
    var adminMembers = SpaceService.GetMembers(Model.Id, new MemberQuery { Admin = true, Count = true, Sudo = true });
}

@section navbar_middle {
    @{ Html.RenderPartial("_NavbarMenu");}
}


<div class="cover cover-bg cover-under-navbar">
    <div class="cover-content">        
        @Model.PublicAvatarImg(128)        
    </div>
    <div class="facepile">        
        @adminMembers.PublicFacepile(32)
        @if (Model.HasPermission(Permission.Admin))
        {
            <button type="button" class="btn btn-round btn-primary btn-sm" data-toggle="modal" data-target="#members-modal" data-keyboard="true" title="@T["Add members"]">@Svg.Icon("plus")</button>
        }
    </div>
</div>

<div class="container my-4">
    @if (!Model.Description.IsNullOrEmpty())
    {
        <p class="lead text-center text-muted mb-2">@Model.Description</p>
    }
    <div class="justify-content-center mt-4 mb-4" style="gap: 32px; display: flex; flex-wrap: wrap;">
        <a href="/video-call/@Model.Id-@Model.Name" target="_blank" role="button" class="btn btn-light">Video Call</a>
        <a href="/companies/@Model.Id/message" target="_blank"  role="button" class="btn btn-light">Send Message</a>
        <a href="/companies/@Model.Id/private-channel" target="_blank" role="button" class="btn btn-light">Start Private Space</a>
    </div>
    @if (!Model.Teamname.IsNullOrEmpty())
    {
        <p class="text-center"> Handle - @@@Model.Teamname</p>
    }
    @if (Model["Location"] != null)
    {
        <p class="text-center"> Location - @Model["Location"]</p>
    }
    @if (Model["Website"] != null)
    {
        <p class="text-center"> Website - @Model["Website"]</p>
    }
    @if (Model["Email"] != null)
    {
        <p class="text-center"> Email - @Model["Email"]</p>
    }
    @if (Model["Phone"] != null)
    {
        <p class="text-center"> Phone - @Model["Phone"]</p>
    }
    @if (Model["Certs"] != null)
    {
        <p class="text-center"> Certs - @Model["Certs"]</p>
    }
<div class="mt-3 text-center">
    @*<h4 class="text-center">Services, Capabilities & Tags</h4>*@
    @Html.DisplayFor(model => model.Tags)
</div>


</div>

