@using Microsoft.Owin.Security
@using Weavy.Web.Controllers
@model Weavy.Web.Models.SignInModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = T["Sign in"].ToString();
}
<style>
    #appleid-signin {
        cursor: pointer;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8 col-md-6 col-lg-5">
            <div class="text-center mb-5">
                <img style="width: 100%;" src="~/img/buddy-logo.png" />
            </div>
            <p class="text-center">By continuing, you agree to our <a href="@ConfigurationService.AppSetting("findparts-url")/terms" target="_blank">User Agreement</a> and <a href="@ConfigurationService.AppSetting("findparts-url")/privacy" target="_blank">Privacy Policy</a>.</p>
            <br />
            <div id="appleid-signin" role="button" data-color="black" data-border="true" data-type="continue" style="height: 46px; width: 240px; margin: auto; margin-bottom: 20px;"></div>

            <form action="@ConfigurationService.AppSetting("findparts-url")/Account/ExternalLoginFromBackChannel?path=@Model.Path" method="post" style="text-align: center;">
                <button type="submit" class="btn btn-primary" id="LinkedIn" name="provider" value="LinkedIn" title="Sign in with LinkedIn" style="margin: 10px; width: 240px;"><img src="~/img/linkedin.png" style="width: 30px; height:30px; border-radius: 4px;" />&nbsp;&nbsp; Continue with LinkedIn </button>
            </form>

            <p class="text-center mt-3" style="font-size: 24px; font-weight: bold;">
                We distribute ✈ Content<br />
                ✈ Social Network<br />
                ✈ Marketplace<br />
                <br/>
                <br />
                Trouble Signing In?<br/>
                Email Us: <a href="mailto:support@buddy.aero">support@buddy.aero</a>
            </p>            
        </div>
    </div>
</div>

<script type="text/javascript">
    let appleConnectLoaded = (AppleID) => {
        AppleID.auth.init({
            clientId: '@ConfigurationService.AppSetting("AppleAppId")',
            scope: 'name email',
            redirectURI: '@ConfigurationService.AppSetting("findparts-url")/apple-signin',
            state: 'backchannel',
            nonce: 'nonce',
            usePopup: false //or false defaults to false
        });
    };

    (function (d, s, cb) {
        var js, fjs = d.getElementsByTagName(s)[0];
        js = d.createElement(s);
        js.src = "//appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js";
        fjs.parentNode.insertBefore(js, fjs);
        js.addEventListener("load", () => cb(AppleID));
    }(document, 'script', appleConnectLoaded));
</script>

@if (ViewData.ModelState.Values.SelectMany(x => x.Errors).Any())
{
    <script>
        $(function () {
            wvy.postal.postToParent({ name: "authentication-error" });
        })
    </script>
}
