@using Weavy.Areas.CustomPages.Controllers
@model Weavy.Areas.CustomPages.Models.AviationClubhouseHomePageViewModel

@{
    Title = T["Start"].ToString();
}

@section navbar_left {

    <div class="navbar-icons">
        <a href="@(Url.Action<MyHomeController>(c => c.AviationClubhouse()))">@Html.Partial("_AppIcon", 34)</a>
        <form action="@(Url.Action<HomeController>(c => c.Search(null, null)))" method="get" class="main-search navbar-search-box" data-turboform>
            <div class="form-group" role="search">
                <input id="weavy-main-search" class="form-control" type="search" name="q" value="" placeholder="@T["Search"]" />
                <button type="submit" class="btn btn-icon">@Svg.Icon("magnify")</button>
            </div>
        </form>
    </div>
}

@section navbar_middle {
    @{
        Html.RenderPartial("_NavbarMenu");
    }
}


<div class="container d-flex flex-column my-4">
    <img class="mb-4" style="width: 70%; align-self: center;" src="~/img/horizontal blue-logo.png" />
    <h2 class="custome-page-title" style="color: #7FB4CC;">AVIATION CLUBHOUSE SCHEDULE</h2>
    <div class="d-flex mt-3 mb-5" style="height: 600px; justify-content: center;">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%230091b2&amp;ctz=America%2FNew_York&amp;src=YXZpYXRpb25jbHViaG91c2VAZ21haWwuY29t&amp;color=%23039BE5&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=1&amp;showCalendars=0&amp;showTz=1" style="border:solid 1px #777; width: 100%; height: 100%; max-width: 800px;" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5 mb-5" style="background: url(/img/jitsi-placeholder-image.png) center  no-repeat; height: 450px;">
        <a class="join-jitsi-room-button" href="/video-call/global-room" target="_blank">
            Join Room
        </a>
    </div>

    <div class="d-flex flex-column align-items-center mt-5 mb-3">
        <h5 class="custome-page-title">Filter By Tag</h5>
        <div style="width: 75%"><input id="vendor-tag-filter" type="text" data-role="tagsinput" /></div>
    </div>
    <div id="filtered-aviation-spaces-result">
        @Html.Partial("~/Areas/CustomPages/Views/MyHome/Partials/_FilteredAviationCompanies.cshtml", Model)
    </div>
    

</div>

<div id="request-join-dialog" class="modal" tabindex="-1" role="dialog">
    <input hidden name="space-id" id="space-id" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pane-header">
                <div class="pane-title text-truncate" style="font-size: 20px; font-weight: bolder; ">Join Request</div>
                <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                    <svg height="24" viewBox="0 0 24 24" width="24" class="i i-close"><path d="m19 6.41-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"></path></svg>
                </button>
            </div>
            <div class="modal-body">
                <p id="space-detail"></p>
                <p>We will send message to administrator of space and you will be joined immediately after administrator approves you.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="JoinChannel();">Request to Join</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function OpenRequestJoinConfirmDialog(id, name, description) {
            $("#space-id").val(id);
            $("#request-join-dialog .modal-body #space-detail").html('Are you sure to join "' + name + '"' + '<br/>' + description);
            $("#request-join-dialog").modal('show');
        }
        function JoinChannel() {
            $("#request-join-dialog").modal('hide');
            var id = $("#space-id").val();
            $.ajax({
                type: 'POST',
                url: '/api/spaces/' + id + '/request-join',
                success: function () {
                    wvy.alert.success("Join request is sent successfully. Please wait untill administrator approves you.");
                },
                error: function () {
                    wvy.alert.danger("Failed to send join request");
                }
            })
        }
        function LoadFilteredAviatonCompanies(tags) {
            $.ajax({
                url: '/filter-aviation-companies',
                type: 'POST',
                data: { tags: tags },
                success: function (res) {
                    $("#filtered-aviation-spaces-result").html(res);
                }
            });
        }
        $(function () {
           
            $('#vendor-tag-filter').on('itemAdded', function (e) {
                LoadFilteredAviatonCompanies($("#vendor-tag-filter").val());
            })
            $('#vendor-tag-filter').on('itemRemoved', function (e) {
                LoadFilteredAviatonCompanies($("#vendor-tag-filter").val());
            })
        })
    </script>
   
}
