@using Weavy.Areas.CustomPages.Controllers
@using Weavy.Areas.CustomPages.Helpers
@model Weavy.Areas.CustomPages.Models.ClubhouseAviationMarketplaceHomePageViewModel

@{
    Title = T["Start"].ToString();
    var companySpace = SpaceService.GetByKey($"company_{User.Id}", sudo: true);
    List<string> tags = new List<string>();
}


@section navbar_middle {
    @{ 
        Html.RenderPartial("_NavbarMenu");
    }
}
<style>
    .nav-item {
        background-color: var(--primary);
    }
    .nav-item .nav-link {
        color: white;
    }
    .nav-item .nav-link.active {
        background-color: #275F90;
    }
</style>
<div class="container d-flex flex-column my-4 align-items-center">    
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-myavdb-tab" data-toggle="pill" href="#pills-myavdb" role="tab" aria-controls="pills-myavdb" aria-selected="true">My Spaces</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-repairs-tab" data-toggle="pill" href="#pills-repairs" role="tab" aria-controls="pills-profile" aria-selected="false">Repairs (MRO)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-spare-parts-tab" data-toggle="pill" href="#pills-spare-parts" role="tab" aria-controls="pills-spare-parts" aria-selected="false">✈ Spare Parts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-planes-tab" data-toggle="pill" href="#pills-planes" role="tab" aria-controls="pills-planes" aria-selected="false">Planes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-pilot-supplies-tab" data-toggle="pill" href="#pills-pilot-supplies" role="tab" aria-controls="pills-pilot-supplies" aria-selected="false">Pilot Supplies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-jobs-tab" data-toggle="pill" href="#pills-jobs" role="tab" aria-controls="pills-jobs" aria-selected="false">Jobs</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-myavdb" role="tabpanel" aria-labelledby="pills-myavdb-tab">
            <div class="d-flex mt-3 mb-3">
                <form action="@(Url.Action<HomeController>(c => c.Search(null, null)))" method="get" class="main-search navbar-search-box" data-turboform style="display: block !important;">
                    <div class="form-group" role="search">
                        <input id="weavy-main-search" class="form-control" type="search" name="q" value="" placeholder="@T["Search"]" />
                        <button type="submit" class="btn btn-icon">@Svg.Icon("magnify")</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-repairs" role="tabpanel" aria-labelledby="pills-repairs-tab">
            <div class="d-flex mt-3 mb-3 flex-wrap">
                <span class="parts-search-title">Repair Capabilities</span>
                <form action="https://mrofinder.back-channel.com/parts" method="get" class="main-search navbar-search-box" data-turboform style="display: block !important;">
                    <div class="form-group" role="search">
                        <input id="weavy-main-search" class="form-control" type="search" name="Search" value="" placeholder="@T["Search"]" />
                        <button type="submit" class="btn btn-icon">@Svg.Icon("magnify")</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-spare-parts" role="tabpanel" aria-labelledby="pills-spare-parts-tab">
            <div class="d-flex mt-3 mb-3 flex-wrap">
                <span class="parts-search-title">Aircraft Spare Parts</span>
                <form action="https://findparts.back-channel.com/parts" method="get" class="main-search navbar-search-box" data-turboform style="display: block !important;">
                    <div class="form-group" role="search">
                        <input id="weavy-main-search" class="form-control" type="search" name="Search" value="" placeholder="@T["Search"]" />
                        <button type="submit" class="btn btn-icon">@Svg.Icon("magnify")</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-planes" role="tabpanel" aria-labelledby="pills-planes-tab">
            <div class="d-flex mt-3 mb-3 flex-wrap">
                <span class="google-cse-title">Aircraft for Sale</span>
                <div class="google-cse-search-group">
                    <script async src="https://cse.google.com/cse.js?cx=004286895403006624284:8dyrm0inbkf"></script>
                    <div class="gcse-search"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-pilot-supplies" role="tabpanel" aria-labelledby="pills-pilot-supplies-tab">
            <div class="d-flex mt-3 mb-3 flex-wrap">
                <span class="google-cse-title">Pilot Supplies</span>
                <div class="google-cse-search-group">
                    <script async src="https://cse.google.com/cse.js?cx=004286895403006624284:ojacjdzpco3"></script>
                    <div class="gcse-search"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-jobs" role="tabpanel" aria-labelledby="pills-jobs-tab">
            <div class="d-flex mt-3 mb-3 flex-wrap">
                <span class="google-cse-title">Aviation Jobs</span>
                <div class="google-cse-search-group">
                    <script async src="https://cse.google.com/cse.js?cx=004286895403006624284:uqhunc1oxii"></script>
                    <div class="gcse-search"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex flex-column my-4 ">

    <h5 class="d-flex mt-5">
        <a href="@(Url.Action<SpaceController>(c => c.Index(null, null)))" class="text-hyphens">My spaces</a>
    </h5>
    <div>
        @Html.Partial("~/Areas/CustomPages/Views/MyHome/Partials/_FilteredSpaces.cshtml", Model.Joined)
    </div>
    <h5 class="d-flex mt-5">
        <a href="@(Url.Action<SpaceController>(c => c.Index(null, null)))" class="text-hyphens">Public Spaces</a>
    </h5>
    <div id="vendor-filtered-result">
        @Html.Partial("~/Areas/CustomPages/Views/MyHome/Partials/_FilteredSpaces.cshtml", Model.PubSpaces)
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center mt-5">
        <h2 class="custome-page-title"> ✈️ Expert Two-Sided Marketplace</h2>
        <p class="mt-2" style="text-align: center; color: #0BB0D5; font-size: 1.25rem;">Aviation Professionals - Make $400-$7000 a month posting on LinkedIn<br/><br/>View Brochure<br/><br/>Click to Become a Paid Moderator</p>        
    </div>
    <div class="space-cards">
        @if (Model.ModeratorSpace != null)
        {
            <a class="card" @if (!Model.ModeratorSpace.IsMember) { <text>href="javascript:void(0);" onclick="OpenRequestJoinConfirmDialog(@Model.ModeratorSpace.Id, '@Model.ModeratorSpace.Name', '@Model.ModeratorSpace.Description');" </text>} else {<text> href="@Model.ModeratorSpace.Url()"</text> }>
                <div class="card-cover">
                    @Model.ModeratorSpace.PublicAvatarImg(64)
                    <div class="facepile">
                        @SpaceService.GetMembers(Model.ModeratorSpace.Id, new MemberQuery { Top = 5, OrderBy = "Random" }).PublicFacepile(size: 24)
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-title text-truncate" title="@Model.ModeratorSpace.Name">@Model.ModeratorSpace.Name</div>
                </div>
                @Html.StarToggle(Model.ModeratorSpace)
            </a>
        }
    </div>
    
    @*
        <h2 class="custome-page-title mt-5">Assets for Sale</h2>
        <div class="custome-page-categories mb-5">
            <ul data-role="tags">
                <li><a href="javascript:void(0)">Engines</a></li>
                <li><a href="javascript:void(0)">APUs</a></li>
                <li><a href="javascript:void(0)">Inventory Lots</a></li>
                <li><a href="javascript:void(0)">Landing Gear</a></li>
                <li><a href="javascript:void(0)">Aircraft</a></li>
                <li><a href="javascript:void(0)">Avionics</a></li>
                <li><a href="javascript:void(0)">GSE</a></li>
                <li><a href="javascript:void(0)">Chemicals</a></li>
                <li><a href="javascript:void(0)">Teardowns</a></li>
                <li><a href="javascript:void(0)">Test Equipment</a></li>
                <li><a href="javascript:void(0)">Tooling</a></li>
                <li><a href="javascript:void(0)">Hangars</a></li>
            </ul>
        </div>
        <h2 class="custome-page-title mt-5">Aviation Industry Vendors</h2>
        <div class="custome-page-industry-vendors">
            <ul data-role="tags">
                <li><a href="javascript:void(0)">Machine Shops</a></li>
                <li><a href="javascript:void(0)">Composities</a></li>
                <li><a href="javascript:void(0)">Paint</a></li>
                <li><a href="javascript:void(0)">NDT</a></li>
                <li><a href="javascript:void(0)">Line MROs</a></li>
                <li><a href="javascript:void(0)">Heavy MROs</a></li>
                <li><a href="javascript:void(0)">Engine MROs</a></li>
                <li><a href="javascript:void(0)">Landing Gear MROs</a></li>
                <li><a href="javascript:void(0)">Tooling Repair</a></li>
                <li><a href="javascript:void(0)">Sheet Metal Repair</a></li>
                <li><a href="javascript:void(0)">Structural Repair</a></li>
                <li><a href="javascript:void(0)">Calibration</a></li>
                <li><a href="javascript:void(0)">Logistics</a></li>
                <li><a href="javascript:void(0)">3D Printing</a></li>
                <li><a href="javascript:void(0)">Asset Tagging</a></li>
                <li><a href="javascript:void(0)">Augumented Reality</a></li>
            </ul>
        </div>
        <div class="d-flex flex-wrap align-items-center mt-5 mb-1 justify-content-center">
            <a class="btn btn-outline-primary ml-2 mr-2">MORE FILTERS</a>
            <a class="btn btn-outline-primary ml-2 mr-2">Country</a>
            <a class="btn btn-outline-primary ml-2 mr-2">City</a>
            <a class="btn btn-outline-primary ml-2 mr-2">ATA Chapter</a>
        </div>
        <div class="d-flex flex-column align-items-center mt-4 mb-3">
            <div style="width: 75%"><input id="vendor-tag-filter" type="text" data-role="tagsinput" /></div>
        </div>
    *@
</div>
<div id="request-join-dialog" class="modal" tabindex="-1" role="dialog">
    <input hidden name="space-id" id="space-id" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pane-header">
                <div class="pane-title text-truncate" style="font-size: 20px; font-weight: bolder; ">Join Request</div>
                <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                    <svg height="24" viewBox="0 0 24 24" width="24" class="i i-close"><path d="m19 6.41-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"></path></svg>
                </button>
            </div>
            <div class="modal-body">
                <p id="space-detail"></p>
                <p>We will send message to administrator of channel and you will be joined immediately after administrator approves you.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="JoinChannel();">Request to Join</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        function OpenRequestJoinConfirmDialog(id, name, description) {
            $("#space-id").val(id);
            $("#request-join-dialog .modal-body #space-detail").html('Are you sure to join "' + name + '"' + '<br/>' + description);
            $("#request-join-dialog").modal('show');
        }
        function JoinChannel() {
            $("#request-join-dialog").modal('hide');
            var id = $("#space-id").val();
            $.ajax({
                type: 'POST',
                url: '/api/spaces/' + id + '/request-join',
                success: function () {
                    wvy.alert.success("Join request is sent successfully. Please wait untill administrator approves you.");
                },
                error: function () {
                    wvy.alert.danger("Failed to send join request");
                }
            })
        }
        function LoadFilteredCompanies(tags) {
            $.ajax({
                url: '/filter-companies',
                type: 'POST',
                data: { tags: tags },
                success: function (res) {
                    $("#vendor-filtered-result").html(res);
                }
            });
        }
        $(function () {
            $(document).on('click', 'ul[data-role=tags] li', function (e) {
                $this = $(this);
                $("#vendor-tag-filter").tagsinput('add', $this.find("a").text().replaceAll(" ", "-"))
            });
            $('#vendor-tag-filter').on('itemAdded', function (e) {                
                LoadFilteredCompanies($("#vendor-tag-filter").val());
            })
            $('#vendor-tag-filter').on('itemRemoved', function (e) {
                LoadFilteredCompanies($("#vendor-tag-filter").val());
            })
        })
    </script>
}