@{ 
    var companySpace = SpaceService.GetByKey($"company_{User.Id}");
    if (companySpace == null)
    {
        companySpace = SpaceService.Search(new SpaceQuery { MemberId = User.Id }).Where(x => !string.IsNullOrEmpty(x.Key) && x.Key.StartsWith("company_") && x.HasPermission(Permission.Admin)).FirstOrDefault();        
    }
}

<div class="dropdown-menu dropdown-menu-right">
    <div class="scroll-y">
        @if (companySpace != null)
        {
            <a class="dropdown-item" href="/companies/@companySpace.Id">
                @Svg.Icon("plus-box-outline")<span>@T["View Company Page"]</span>
            </a>
        }
        <a class="dropdown-item" href="@(companySpace == null ? "/companies/new" : "/companies/edit")">
            @Svg.Icon("plus-box-outline")<span>@(companySpace == null ? T["Create Company Page"] : T["Edit Company Page"])</span>
        </a>
        @if (companySpace == null)
        {
            <a class="dropdown-item" href="/companies?join-company=true">
                @Svg.Icon("account-multiple-plus")<span>Join Company Page</span>
            </a>
        }
        <div class="dropdown-divider"></div>
        @if (companySpace != null)
        {
            <a class="dropdown-item" href="@ConfigurationService.AppSetting("findparts-url")/Vendor/UploadList">
                @Svg.Icon("upload")<span>@T["List ✈ Spare Parts"]</span>
            </a>
        }
        else
        {
            <a class="dropdown-item" target="_blank" href="javascript:void(0);" onclick="wvy.alert.info('Please Create or Join Company Page to List Spare Parts & Repair Capabilities.');">
                @Svg.Icon("upload")<span>@T["List ✈ Spare Parts"]</span>
            </a>
        }
        @if (companySpace != null)
        {
            <a class="dropdown-item" target="_blank" href="@ConfigurationService.AppSetting("mrofinder-url")/Vendor/UploadList">
                @Svg.Icon("upload")<span>@T["List MRO Repair Capabilities"]</span>
            </a>
        }
        else
        {
            <a class="dropdown-item" href="javascript:void(0);" onclick="wvy.alert.info('Please Create or Join Company Page to List Spare Parts & Repair Capabilities.');">
                @Svg.Icon("upload")<span>@T["List MRO Repair Capabilities"]</span>
            </a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="https://calendly.com/buddyaero" target="_blank">
            @Svg.Icon("send")<span>@T["Advertise Asset(s)"]</span>
        </a>
        <a class="dropdown-item" href="https://calendly.com/buddyaero" target="_blank">
            @Svg.Icon("wrench")<span>@T["Advertise Service(s)"]</span>
        </a>
        <a class="dropdown-item" href="https://calendly.com/buddyaero" target="_blank">
            @Svg.Icon("video")<span>@T["Advertise Your Brand"]</span>
        </a>
        <div class="dropdown-divider"></div>
        @if (companySpace == null)
        {
            <a class="dropdown-item" href="javascript:void(0);" onclick="wvy.alert.info('Please Create or Join Company Page to Buy LinkedIn Impressions.');">
                @Svg.Icon("cash-usd")<span>@T["Buy LinkedIn Impressions"]</span>
            </a>

        }
        else
        {
            <a class="dropdown-item" href="@ConfigurationService.AppSetting("findparts-url")/Subscriber" target="_blank">
                @Svg.Icon("cash-usd")<span>@T["Buy LinkedIn Impressions"]</span>
            </a>
        }

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="@(Url.Action<SpaceController>(c => c.New()))">
            @Svg.Icon("pencil")<span>@T["Create a Space"]</span>
        </a>
    </div>
</div>
