@model Weavy.Areas.CustomPages.Models.AviationClubhouseHomePageViewModel

<h5 class="d-flex mt-5">
    <a href="@(Url.Action<SpaceController>(c => c.Index(null, null)))" class="text-hyphens">My Channels</a>
</h5>
@if (Model.JoinedSpaces.Any())
{
    @Html.Partial("~/Areas/CustomPages/Views/MyHome/Partials/_SpaceList.cshtml", Model.JoinedSpaces)
}
else
{
    <p class="text-muted">
        @T["All your spaces will show up here."]
        <a href="@(Url.Action<SpaceController>(c => c.New()).ToLower())">@T[@"We suggest creating your first space to get started."]</a>
    </p>
}


@if (Model.AviationSpaces.Any())
{
    <h5 class="d-flex mt-5">
        <a href="@(Url.Action<SpaceController>(c => c.Index(null, null)))" class="text-hyphens">Aviation Clubhouse Channels</a>
    </h5>

    @Html.Partial("~/Areas/CustomPages/Views/MyHome/Partials/_SpaceList.cshtml", Model.AviationSpaces)
}
