@model User
@{
    var profiledata = Html.DisplayGroups(Model.Profile, exclude: new[] { nameof(Model.Avatar), nameof(Model.Profile.Name) })?.ToHtmlString();
}

<div class="container my-3">
    @if (User.Id != Model.Id)
    {
        <div class="d-flex flex-wrap justify-content-center mb-3">
            <a class="btn btn-outline-primary ml-2 mr-2" href="/direct-call/@Model.Id" target="_blank">@Svg.Icon("video") Video</a>            
            <a class="btn btn-outline-primary ml-2 mr-2" href="/direct-space/@Model.Id" target="_blank">@Svg.Icon("account-network") Space</a>
        </div>
    }
    @if (!profiledata.IsNullOrWhiteSpace())
    {
        @Html.Raw(profiledata)
    }


    @if (User.IsAdmin && Model.Email != null)
    {
        <div class="display-group" data-type="string">
            <label class="font-weight-bold">@T["Email"]</label>
            <div>@Html.DisplayFor(x => Model.Email)</div>
        </div>
    }

</div>

